.setCard {
  background: linear-gradient(150deg, #f00000 0%, #663b39 67%, #5c0000 100%);
  border-radius: 20px;
  /* width: 1323px; */
  height: 294px;
  box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.2);
  stroke-width: 1;
  padding: 30px;
}

.setCard_name {
  height: 72px;
  padding: 0px 0px 0px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  background-size: cover;
  font-family: Montserrat;
  font-size: 20px;
  text-align: justify;
  color: #000000;
  text-decoration: rgb(0, 0, 0);
  line-height: 24px;
}

.setCard_delBtn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.setCard_description {
  height: 152px;
  padding: 10px 10px 10px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  background-size: cover;
  font-family: Montserrat;
  font-size: 20px;
  color: #000000;
  text-decoration: rgb(0, 0, 0);
  line-height: 24px;
}

.setCard_viewBtn {
  mix-blend-mode: overlay;
  height: 72px;
  background: white;
  font-family: Montserrat;
  font-size: 36px;
  text-decoration: rgb(255, 255, 255);
  line-height: 44px;
}

.mask:hover {
  background-color: white;
  opacity: 0.5;
  transition: 0.3s;
}
