
<h3 id="set" value="{{cardSet_id}}">{{cardSet_name}}</h3>

<div class="jumbotron" id="card-set-view-flashcard">

<div id="myCarousel" class="carousel slide" data-ride="carousel">


    <div class="carousel-inner"></div>

    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
</div>
<script src="/js/views/cards.js"></script>

<!-- Template -->

<div class="carousel-item" id="template" hidden>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 id="front"></h1>
            </div>
            <div class="flip-card-back">
                <h1 id="back"></h1>
            </div>
        </div>
    </div>
</div>
