<link rel="stylesheet" href="/stylesheets/cardsetview.css" />
{{cardSet.debug}}
<h3 id="set" value="{{cardSet.cardSet_id}}">{{cardSet.cardSet_name}}</h3>

<div class="jumbotron" id="card-set-view-flashcard">

<p class="description"></p>

<button class="btn btn-primary" id="flash-view">Flashcards</button>
<button class="btn btn-primary" id="list-view">List</button> 
{{#if cardSet.isOwner}}
<a href="/edit-flash/{{cardSet.cardSet_id}}"><button class="btn btn-primary" id="edit-button">Edit &#x270E;</button></a>
{{/if}}

<div class="slideshow-container">
    <div id="slideshow-slides"></div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>


<table class="table table-striped" id="tableView" hidden>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Front</th>
            <th scope="col">Back</th>
        </tr>
    </thead>

    <tbody id="table-body"></tbody>
</table>
<hr>

<h6>Made by</h6>
<h5><b id="author-username"></b></h5>

</div>
<script src="/js/views/cards.js"></script>

<!-- Template -->

<div id="template" hidden>
    <div class="numbertext"></div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <span id="front"></span>
            </div>
            <div class="flip-card-back">
                <div id="back"></div>
            </div>
        </div>
    </div>
</div>