
<h3 id="set" value="{{cardSet_id}}">{{cardSet_name}}</h3>

<div class="jumbotron" id="card-set-view-flashcard">
<button class="btn btn-primary" id="flash-view">Flashcards</button>
<button class="btn btn-primary" id="list-view">List</button> 

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner"></div>

    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<table class="table table-striped" id="tableView" hidden>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Front</th>
            <th scope="col">Back</th>
        </tr>
    </thead>

    <tbody id="table-body"></tbody>
</table>
<hr>

<h6>Made by</h6>
<h5><b id="author-username"></b></h5>

</div>
<script src="/js/views/cards.js"></script>

<!-- Template -->

<div class="carousel-item" id="template" hidden>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 id="front"></h1>
            </div>
            <div class="flip-card-back">
                <h1 id="back"></h1>
            </div>
        </div>
    </div>
</div>
