
{{debug}}
{{#set}}
<div id="content" class="Container">
<div class="container">
<div class="row">
    <div class="form-group col-md-6">
        <input type="email" class="form-control" id="title" placeholder="Subject, Chapter, Unit" value="{{cardSet_name}}">
        <label id="title-label" for="exampleFormControlInput1">TITLE</label>
    </div>
    <div class="form-group col-md-6">
        <input type="email" class="form-control" id="description" value="{{cardSet_description}}">
        <label id="title-label" for="exampleFormControlInput1">Description</label>
    </div>
</div>
<div class="container" id="create-flash-content">

    <div id="flashcards" class="col" set_id="{{cardSet_id}}">

            {{#Cards}}
                <div class="row flashcard-group" card_id="{{card_id}}" value="0">
                    <span class="index">{{inc @index}}.</span>
                    <div class="def-term">
                        <textarea class="flash-input term-input" placeholder="Term">{{card_front}}</textarea>
                        <textarea class="flash-input def-input" placeholder="Definition">{{card_back}}</textarea>
                    </div>
                    <i class="fas fa-trash-alt delete-flash" id="delete-flash"></i>
                </div>
            {{/Cards}}
    </div>

    <div class="alert alert-danger" role="alert" hidden>
        This is a danger alert—check it out!
      </div>

    <div class="container">
        <div class="row">
            <a id="add-flash" class="btn btn-warning btn-lg" role="button"><span class="nav-button" id="add-flash-text">ADD FLASH</span></a>
        </div>
    </div>
   
</div>
<div class="container">
    <div class="row">
        <a id="submit" class="btn btn-danger btn-lg" role="button"><span class="nav-button">Submit</span></a>
    </div>
</div>
</div>
{{/set}}
</div>

<!-- Template -->

<div id="template" class="row flashcard-group" value="2" hidden>
    <span class="index"></span>
    <div class="def-term">
        <textarea class="flash-input term-input" placeholder="Term"></textarea>
        <textarea class="flash-input def-input" placeholder="Definition"></textarea>
    </div>
    <i class="fas fa-trash-alt delete-flash"></i>
</div>

<script src="/js/views/edit-flash.js"></script>