<h3 style="color:white;" >Hello {{user.username}}</h3>
<div class="container bg-light"></div>
{{debug}}
<!-- Then put toasts within -->
<div class="row">
  {{#cardSets}} {{#modThree @index}} {{#notZero @index}}
</div>
<div class="row">
  {{/notZero}} {{/modThree}}
  <div class="card m-2" style="width: 18rem;">
    <img src="" class="card-img-top" alt="" />
    <div class="card-body">
      <h5 class="card-title">{{cardSet_name}}</h5>
      <p class="card-text">
        {{cardSet_description}}
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  {{/cardSets}}
</div>
<script src="/js/views/home.js"></script>
