<link rel="stylesheet" href="/stylesheets/sn.css" />
{{debug}}
<h1>Search results:</h1>
<div class="cardSets">
    {{debug}} {{#cardSets}}
    <div id="{{cardSet_id}}" class="d-flex  justify-content-center mb-4 cardFlex">
        <div class="col-12">
            <div class="container setCard">
                <div class="d-flex justify-content-between mb-3">
                    <div class="col-5">
                        <div class="container setCard_name d-flex align-items-center">
                            {{cardSet_name}}
                        </div>
                    </div>
                    {{#isLogged}}
                    {{#isNotEqual ../user.user_id user_id}}
                    {{#isCardSetFav cardSet_id ../likedCardSets}}
                    <button id={{../cardSet_id}} type="button" class="btn btn-light btn-liked">
                        Like
                    </button>
                    {{else}}
                    <button id={{../cardSet_id}} type="button" class="btn btn-outline-light btn-like">
                        Like
                    </button>
                    {{/isCardSetFav}}
                    {{else}}
                    {{/isNotEqual}}
                    {{else}}
                    {{/isLogged}}
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-9">
                        <div class="container setCard_description">
                            {{cardSet_description}}
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-end">
                        <a href="/cardSet/{{cardSet_id}}"><button type="button" class="btn mask setCard_viewBtn">
                                <div class="d-flex flex-column align-items-center">
                                    <p>View Set</p>
                                </div>
                            </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/cardSets}}
</div>

<script src="/js/views/welcome.js"></script>