{{debug}}
{{#objects}}
{{#Cards}}
{{#isZero @index}}
<div class="carousel-inner-active">
    {{else}}
    <div class="carousel-inner">
        {{/isZero}}
        <div class="carousel-item">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h1>{{card_front}}</h1>
                    </div>
                    <div class="flip-card-back">
                        <h1>{{card_back}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/Cards}}
{{/objects}}